$maincolor: rgb(114, 131, 156);

.main {
  display: flex;
  background-color: lighten($maincolor, 15%);
  max-width: 100%;
  flex: auto;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem;
  justify-content: flex-start;
  font-family: Co Headline, Arial, Helvetica, sans-serif;
  line-height: 1.2;
  p {
    font-family: Co Text, Arial, Helvetica, sans-serif;
  }
  &::-webkit-scrollbar {
    width: 0.5rem;
    &-thumb {
      background-color: rgba(0, 0, 0, 0.39);
      background-blend-mode: multiply;
      border-radius: 1rem;
      margin-right: 5px;
    }
  }
}
