@import '../../variables';
$barWidth: 80px;
$resizeBtnSize: 50px;

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $maincolor;
  align-content: center;
  .btn {
    cursor: pointer;
    list-style: none;
    width: 100%;
    padding-bottom: 100%;
    background-color: white;
    margin-bottom: calc(2 * calc(calc(#{$barWidth} / 2.2) / 5));
    border-radius: 1rem;
    background-repeat: no-repeat;
    transition: 300ms ease-in-out;
    &:hover {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.342);
      transform: scale(1.05) translateY(-2px);
    }
    &:focus-visible {
      box-shadow: 0 0 5px black;
      transform: scale(1.1);
    }
    &:focus {
      outline: none;
    }
  }
  .resize-btn {
    transition: 350ms;
    cursor: pointer;
    font-weight: 700;
    border: none;
    outline: none;
    user-select: none;
    display: grid;
    place-items: center;
    border-radius: 50%;
    position: absolute;
    color: lighten($maincolor, 30%);
    background-color: saturate(adjust-hue($maincolor, $hueAdjust), 50%);
    img {
      width: 100%;
    }
    &:hover,
    &:focus {
      background-color: saturate(adjust-hue($maincolor, $hueAdjust), 70%);
    }
    &:focus-visible {
      background-color: saturate(adjust-hue($maincolor, $hueAdjust), 70%);
    }
    &-open {
      transform-origin: center;
      bottom: calc(10% - calc(#{$resizeBtnSize} / 2));
      width: $resizeBtnSize;
      height: $resizeBtnSize;
      left: calc(calc(#{$resizeBtnSize} / 1.5) * -1 / 2);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    &-closed {
      left: calc((#{$resizeBtnSize} * -1));
      transform-origin: center;
      bottom: calc(10% - calc(#{$resizeBtnSize} / 2));
      width: calc(#{$resizeBtnSize} * 0.9);
      height: calc(#{$resizeBtnSize} * 0.9);
      transform: rotate(-180deg);
    }
  }
  hr {
    background-color: darken($maincolor, 10%);
    border: 0.001px solid darken($maincolor, 10%);
    margin-bottom: calc(2 * calc(calc(#{$barWidth} / 2.2) / 5));
  }
}
