@import '../../variables';
$barWidth: 80px;
$resizeBtnSize: 50px;

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $maincolor;
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.301);

  .btn {
    cursor: pointer;
    list-style: none;
    width: 100%;
    padding-bottom: 100%;
    background-color: white;
    margin-bottom: calc(2 * calc(calc(#{$barWidth} / 2.2) / 5));
    border-radius: 1rem;
    background-repeat: no-repeat;
  }
  .btn:hover {
    opacity: 75%;
  }

  .resize-btn {
    transition: 350ms;
    cursor: pointer;
    font-weight: 700;
    border: none;
    outline: none;
    user-select: none;
    display: grid;
    place-items: center;
    border-radius: 50%;
    position: absolute;
    color: lighten($maincolor, 30%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.411);
    background-color: saturate(adjust-hue($maincolor, $hueAdjust), 50%);
    img {
      width: 100%;
    }
    &:hover,
    &:focus {
      background-color: saturate(adjust-hue($maincolor, $hueAdjust), 70%);
    }
    &:focus-visible {
      box-shadow: 0 0 0 2px black, 0 0 0 3px white;
    }
    &-open {
      transform-origin: center;
      bottom: calc(10% - calc(#{$resizeBtnSize} / 2));
      width: $resizeBtnSize;
      height: $resizeBtnSize;
      left: calc(calc(#{$resizeBtnSize} / 1.5) * -1 / 2);
    }
    &-closed {
      left: calc((#{$resizeBtnSize} * -1.2));
      transform-origin: center;
      bottom: calc(10% - calc(#{$resizeBtnSize} / 2));
      width: $resizeBtnSize;
      height: $resizeBtnSize;
      transform: rotate(-180deg);
    }
  }
}
